body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/toroflowerswp.jpg);
    background-position: center center;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../cursors/littlebunny-mimidestino/Normal\ Select.cur), auto;
  }

  a{
    cursor: url(../cursors/littlebunny-mimidestino/Link\ Select2.cur), auto;
  }

  #paginacio button{
    cursor: url(../cursors/littlebunny-mimidestino/Link\ Select2.cur), auto;
  }

  p:hover{
    cursor: url(../cursors/littlebunny-mimidestino/Text\ Select.cur), auto;
  }

  /*seccions*/

  footer{
    width: auto;
    height: 20%;
    color: black;
    background-color: #f7aace;
    padding-top: 5px;
    padding-left: 20px;
  }

header{
    background-color: rgba(255, 151, 205, 0.8);
    height: 9.2%;
    width: 46%;
    position: fixed;
    left: 27%;
    top: 10px;
    z-index: 100;

}

nav {
    display: flex;
    justify-content: center; 
    
  }
  
  nav ul {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;

  }

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 120%;
}

nav ul li a {
    display: block; 
    padding: 20px;
    color: rgba(214, 2, 111, 0.8);
    text-decoration: none;
    
}

nav ul li a:hover {
    background: #ffdaeb
}
  
#principal{
    border-style: double;
    border-color: rgb(75, 32, 41);
    border-width: 10px;
    height: auto;
    width: 45%;
    background-color: rgb(253, 233, 248);
    margin-left: auto;
    margin-right: auto;
  
}

.galeria{
    display: flex;
    flex-wrap: wrap;
}

.galeria img{
    width: 120%;
    height: 120%;
    transition: transform 0.3s ease;
}

.galeria > div{
    width: 35%;
    height: 35%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.galeria img:hover {
  transform: scale(1.5);
}

.espaciador{
    height: 15%;
}

#benvinguda{

    text-align: center;
    padding: 30px;
    background-image: url(../images/pink\ bunny\ frame.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    height: auto;

}

#blog{
    margin: 5%;
}

/*text*/

#bentext{
    margin-top: 20%;
    font-size:xx-large;
    font-style:oblique;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titolgen{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: #f7aace;
}

.minititol{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 8%;
    color: rgb(226, 78, 139);
    margin: 20px;
}

.textgen{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.textcont{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 78, 139);
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

/*blog*/

#llistaPosts li{
    margin-bottom: 20px;
    border-bottom: 1px dashed #d182b5;
    padding-bottom: 10px;
    margin-right: 20px;
    list-style-type: none;
}

#llistaPosts li h3 a{
    text-decoration: none;
    color: #c47197;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#llistaPosts li h3 a:hover{
    color: #f7aace;
}

#llistaPosts li p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#article {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#article h2{
    color: #c47197;
    padding-bottom: 10px;
    border-bottom: 1px dashed #c47197;
}

.botons{
    background-color: #c47197;
    font-style: oblique;
    margin-left: 45%;

}

.botons:hover{
    background-color: #f7aace;
}


/*imatges*/

#separador1{
    width: 110.7%;
    margin-left: -5.4%;

}

.separadorgeneric{
    width: 100%;
}

.webicons{

    margin-left: 20px;
}

.bunny{
    width: 70px;
    height: 70px;
    display: inline-block;
}


.icon{
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-block: -17px;
}

.construccion{
    width: 50%;
    margin: 30%;
}

.footicon{
    width: 50px;
    height: auto;
}

