body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/toroflowerswp.jpg);
    background-position: center center;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../cursors/littlebunny-mimidestino/Normal\ Select.cur), auto;
  }

  a{
    cursor: url(../cursors/littlebunny-mimidestino/Link\ Select2.cur), auto;
  }

  #paginacio button{
    cursor: url(../cursors/littlebunny-mimidestino/Link\ Select2.cur), auto;
  }

  p:hover{
    cursor: url(../cursors/littlebunny-mimidestino/Text\ Select.cur), auto;
  }

  /*seccions*/

  footer{
    width: auto;
    height: auto;
    color: black;
    background-color: #f7aace;
    padding: 5px;
  }

header{
    background-color: rgba(255, 151, 205, 0.8);
    height: 9.2%;
    width: 46%;
    position: fixed;
    left: 27%;
    top: 10px;
    z-index: 100;

}

nav {
    display: flex;
    justify-content: center; 
    
  }
  
  nav ul {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;

  }

nav ul li {
    float: left;
}

nav ul li a {
    display: block; 
    padding: 20px;
    color: rgba(214, 2, 111, 0.8);
    text-decoration: none;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav ul li a:hover {
    background: #ffdaeb
}
  
#principal{
    border-style: double;
    border-color: rgb(75, 32, 41);
    border-width: 10px;
    height: auto;
    width: 45%;
    background-color: rgb(253, 233, 248);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
  
}

.espaciador{
    height: 15%;
}

#benvinguda{

    text-align: center;
    padding: 30px;
    background-image: url(../images/pink\ bunny\ frame.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    height: auto;

}

#comentaris{
    padding: 5px;
    height: auto;
    border-style: double;
    border-color: rgb(75, 32, 41);
    border-width: 10px;
    background-color: rgb(253, 233, 248);
    margin-left: auto;
    margin-right: auto;
}



/*galeria*/

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

#galeria img {
  width: 95%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
  margin: 7px;
}

#galeria img:hover {
  transform: scale(1.5);
}

#lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

#lightbox.ocult {
  display: none;
}

#tancar {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  pointer-events: auto;
}

#paginacio{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 10px;
}

#paginacio button {
  background-color: #f38abb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s;
}

#paginacio button:hover {
  background-color: #b30f5b;
}

#paginacio button:active {
  background-color: #580b2f;
}

#paginacio span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 6px;
}

/*text*/

#bentext{
    margin-top: 20%;
    font-size:clamp(1rem, calc(1vw + 1vw), 4rem);
    font-style:oblique;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titolgen{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: #d87ea6;
    text-align: center;
}

.minititol{
    text-decoration: none;
    color: #c47197;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px dashed #d182b5;
    margin: 20px;
    width: 10%;
}

.textgen{
    font-family: 'Courier New', Courier, monospace; 
}

.textcont{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 78, 139);
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

/*blog*/

#blog{
    margin: 5%;
}

#llistaPosts li{
    margin-bottom: 20px;
    border-bottom: 1px dashed #d182b5;
    margin-right: 20px;
    list-style-type: none;
}

#llistaPosts li h3 a{
    text-decoration: none;
    color: #c47197;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#llistaPosts li h3 a:hover{
    color: #f7aace;
}

#llistaPosts li p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#article {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#article h2{
    color: #c47197;
    padding-bottom: 10px;
    border-bottom: 1px dashed #c47197;
}

.botons{
    background-color: #f38abb;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s;

}

.botons:hover{
    background-color: #b30f5b;
}

.botons:active {
  background-color: #580b2f;
}


/*imatges*/

#separador1{
    width: 110.7%;
    margin-left: -5.4%;

}

.separadorgeneric{
    width: 100%;
}

.webicons{

    margin-left: 5%;
}

.bunny{
    width: 70px;
    height: 70px;
    display: inline-block;
}


.icon{
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-block: -17px;
}

.construccion{
    width: 50%;
    margin: 30%;
}

.footicon{
    width: 50px;
    height: auto;
}

.deskimg{
    margin-top: 20px;
    margin-left: 90%
}

/*audio*/

audio{
  margin-left: 5%;
}

/*responsive*/

@media (max-width: 600px) {
  
  #principal{
    min-width: 90%;
    height: auto;
    padding-bottom: 5%;

  }
  
  .textgen{
    font-size: 14px;

  }

  .footicon{
    width: 15%;
  }


  header{
    width: 100%;
    justify-content: center;
    left: 0%;

  }

.deskimg{
  margin-left: auto;
}

  nav ul li{
    font-size: 90%;
    justify-content: center;
    font-weight:bold;
  }

  nav ul li a {
    padding: 10px;
    margin-top: 5px;
  }

  #galeria{
  grid-template-columns: repeat(auto-fit, 130px);
  gap: 3px;
  justify-content: center;
  }

  #galeria img {
  margin: 7px;
}

audio{
  width: 80%;
}

#article{
  margin: 10px;
}

}